<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<!-- <li><a href="/">Home</a></li> -->
		        	<!-- <li><a href="/about">About</a></li> -->
	        		<!-- <li><a href="/cv">CV</a></li> -->
	        		<!-- <li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
				<a href"/ennyn">ennyn</a>
				<a href"/Durin">Durin</a>
				<a href"/Aran">Aran</a>
				<a href"/Moria">Moria</a>
				<a href"/Pedo">Pedo</a>
				<a href"/Mellon">Mellon</a> 
				<a href"/a">a</a> 
				<a href"/Minno">Minno</a> 
				<a href"/Im">Im</a> 
				<a href"/Narvi">Narvi</a> 
				<a href"/hain">hain</a> 
				<a href"/echant">echant</a> 
				<a href"/Celebrimbor">Celebrimbor</a> 
				<a href"/o">o</a> 
				<a href"/Eregion">Eregion</a> 
				<a href"/teithant">teithant</a> 
				<a href"/i">i</a> 
				<a href"/thiw">thiw</a> 
				<a href"/hin">hin</a>

			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/nagiza">github.com/nagiza</a></li>
				</ul>
			</footer>
		</body>
	</html>
